<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ua.naiksoftware.tambola">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"

        tools:replace="android:theme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.androidhari.tambola.FirstPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidhari.tambola.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidhari.tambola.Signin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidhari.tambola.HomeScreen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.androidhari.tambola.ForgotPass"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidhari.tambola.ResetPass"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidhari.tambola.Wallet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidhari.tambola.GameInfo"
            android:screenOrientation="portrait"

            android:parentActivityName="com.androidhari.tambola.HomeScreen" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidhari.tambola.HomeScreen" />





        </activity>
        <activity
            android:name="com.androidhari.tambola.WalletPurchasehistory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidhari.tambola.PurchaseTicket"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.androidhari.tambola.Countdown"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidhari.tambola.AddMoney"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidhari.tambola.TransactionHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidhari.tambola.Countdown2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidhari.tambola.TestautoSelect"
            android:screenOrientation="portrait" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name="com.androidhari.ViewPager.MoneyTransactions"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.androidhari.Fragment.BankTransfer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidhari.Fragment.PaytmTransfer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidhari.ViewPager.WalletTransactions"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.androidhari.tambola.OTP"
            android:screenOrientation="portrait" />

        <receiver android:name="com.androidhari.tambola.OtpReader">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.androidhari.tambola.ChangePassword"
            android:screenOrientation="portrait" />
        <activity android:name="com.androidhari.tambola.Cart"
            android:screenOrientation="portrait"

            ></activity>
    </application>

</manifest>